# -*- coding: utf-8 -*-
"""
Created on Fri Feb 28 09:22:48 2020

@author: rolly
"""

bot_name='iteung'
bot_shortname='teung'
profile_folder='./user_data'

db_host='localhost'
db_port='3306'
db_username='root'
db_password=''
db_name='iteung'

file_type = ".xlsx"

#twilio
account_sid = "12ewe"
auth_token  = "aee32"