<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITeung</title>
</head>
<body>
    <h1>ITeung hereee~~~~!!!!!!!</h1>
    <button onclick="signOut()">Log out</button>
    <form method='POST'>
        Human: <input type='text' name='message'><br>
        ITeung: {{ bot_reply }}<br>
        <input type="submit" name="action">
    </form>
    <script>
        function signOut() {
             var auth2 = gapi.auth2.getAuthInstance();
             auth2.signOut().then(function () {
                 document.cookie = "email=";
             });
             auth2.disconnect();
        }
    </script>
</body>
</html>