{% extends 'base.html' %}

{% block title%}{{ title }}{% endblock %}
{% block login_as%}{{ login_as }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <h1 class="mb-4">
                Panduan Penggunaan ITeung Bot Whatsapp
            </h1>

            <div>
                <h4>Berikut ini panduan untuk mahasiswa ketika kelas:</h4>
                <ol>
                    <li>
                        Update nomor whatsapp yang aktif di group pada sistem informasi akademik dengan format
                        internasional (ganti 0 dengan 62 tanpa tanda +). contoh 6281312000300.
                    </li>
                    <li>
                        Mahasiswa diwajibkan menggunakan kalimat diskusi selama kelas berlangsung tidak menggunakan 1
                        kata contoh hadir. Minimal ikut serta dalam diskusi adalah 15 s/d 20 kali.
                    </li>
                    <li>
                        Kalo mau generate qrcode untuk kelas luring tinggal bilang aja ke ITeung ya dengan mengetik:
                        iteung generate qrcode atau iteung buat qrcode
                    </li>
                </ol>

                <h4>Berikut ini panduan untuk mahasiswa ketika bimbingan proyek atau TA</h4>
                <ol>
                    <li>
                        Isi dulu Google Form yang ada di web IF
                    </li>
                    <li>
                        Bikin grup yaa kalian dengan format *BIMBINGAN-KODEDOSEN* trus jangan lupa invite pembimbingnya
                        yaa,
                        dan tanyakan kode dosennya
                    </li>
                    <li>
                        Invite ITeung kedalam grup kalian
                    </li>
                    <li>
                        Kalo kalian mau minta link bimbingan ke ITeung kalian bisa ketik kayak gini contohnya : iteung
                        minta
                        link bimbingan TA sudah dikerjakan Analisis Perancangan Website pekerjaan selanjutnya Merancang
                        Database nilai 100, tipe bimbingan bisa disesuaikan seperti berikut:TA: Tugas Akhir, I1:
                        Internship 1, I2: Internship 2\, P1: Proyek 1, P2: Proyek 2, P3: Proyek 3 ( HANYA BISA DILAKUKAN
                        OLEH MAHASISWA YAAA )
                    </li>
                    <li>
                        Bapak/Ibu pembimbing bisa mengklik link yang sudah ITeung berikan yaa dan diisi sesuai hasil
                        bimbingan.
                    </li>
                    <li>
                        Kalian bisa cek nilai kalian dengan mengetik iteung cek bimbingan mahasiswa ( khusus peserta
                        ya ).
                    </li>
                    <li>
                        Tolong untuk set nomor handphone orang tua yang berada di SIAP dengan WhatsApp yang aktif ingat
                        gunakan format internasional contohnya: 6281312000300
                    </li>
                    <li>
                        Jika temen-temen mau update Judul PITAK (Proyek, Internship, dan Tugas Akhir) maka perintahnya
                        adalah iteung update judul pitak (judul) Contoh: iteung update judul pitak ITeung
                    </li>
                    <li>
                        Jika temen temen ingin request KAMBING (Kartu Bimbingan) cukup ketikkan iteung minta kambing
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="main-section">
        <div class="row border-chat">
            <div class="col-md-12 col-sm-12 col-xs-12 first-section">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-6 left-first-section">
                        <p>ITeung</p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 right-first-section">
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-chat">
            <div class="col-md-12 col-sm-12 col-xs-12 second-section">
                <div class="chat-section">
                    <ul>
                        {% if bot_reply !='' %}
                        <li>
                            <div class="left-chat">
                                <img src="{{ url_for('static', filename='assets/img/iteung.png') }}">
                                <p>{{ bot_reply }}
                                </p>
                                <!-- <span>2 min</span> -->
                            </div>
                        </li>
                        {% endif %}
                        <!-- <li>
                            <div class="right-chat">
                                <img src="{{ url_for('static', filename='assets/img/ypbpi.png') }}">
                                <p>Lorem ipsum dolor sit ameeserunt.</p> -->
                        <!-- <span>2 min</span> -->
                        <!-- </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="row border-chat">
            <div class="col-md-12 col-sm-12 col-xs-12 third-section">
                <div class="text-bar">
                    <form method='POST'>
                        <input type="text" placeholder="Write message" name='message' class="message">
                        <input type="submit" name="action" value='&#129130;' class="send">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<script>
    $(document).ready(function () {
        $(".left-first-section").click(function () {
            $('.main-section').toggleClass("open-more");
        });
    });
    $(document).ready(function () {
        $(".close").click(function () {
            $('.main-section').toggleClass("open-more");
        });
    });
</script>

{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITeung</title>
</head>
<body>
    <h1>ITeung hereee~~~~!!!!!!!</h1>
    <form method='POST'>
        {{user_name}}: <input type='text' name='message'><br>
        ITeung: {{ bot_reply }}<br>
        <input type="submit" name="action">
    </form>
    <br>
    <a href="/google/logout">Logout</a>
</body>
</html> -->