<html>
  <head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="726841730618-rs1s10q2umctu9e1tn1b7gra5kltdurg.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>ITeung</title>
  </head>
  <body>
      <div id="gSignIn"></div>
      <script>
          function renderButton() {
              gapi.signin2.render('gSignIn', {
                  'scope': 'profile email',
                  'width': 240,
                  'height': 50,
                  'longtitle': true,
                  'theme': 'dark',
                  'onsuccess': onSuccess
              });
          }

          function onSuccess(googleUser) {
              gapi.client.load('oauth2', 'v2', function () {
                  var request = gapi.client.oauth2.userinfo.get({
                      'userId': 'me'
                  });
                  request.execute(function (resp) {
                      document.cookie = "email="+resp.email;
                      location.reload();
                  });
              });
          }
      </script>
  </body>
</html>